.container {
    text-align: center;

}

.home {
    text-align: center;
}

.players {

}

.fun-facts {

}

.rules {

}

.scoreboard {

}

.chat {

}

.bets {

}

.button-layout {
    display: grid;
    padding-left: 150px;
    padding-top: 100px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    width: 70%;
}

.medium-button {
    width: 70%;
    height: 180%;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.medium-button:hover {
    background-color: #0056b3;
}

.player-image {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

.score-table {
    border-collapse: separate;
    border-spacing: 10px;
    margin: 0 auto;
    text-align: center;
    width: 80%; /* You can adjust the width as needed */
}

.score-table th,
.score-table td {
    padding: 8px 16px; /* Adjust the padding to spread out the columns */
}

.score-table th {
    background-color: #f2f2f2; /* Add a background color to the headers */
    font-weight: bold;
}

.score-table tr:nth-child(even) {
    background-color: #f2f2f2; /* Add a background color to even rows for better readability */
}




